body,html
{
background: #1c92d2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Noto Serif', serif;
margin:0px;
padding:0px;
box-sizing:border-box;
border: 0;
    outline: 0;
	width:100%;
}
h1
{
	text-align:center;
}

.carousel-item{
    height: 400px;
	padding-top:20px;
	padding-left:830px;
	padding-bottom:20px;
} 
.carousel-item img{
    height: 400px;
	width:500px;
}

.carousel-control-next{
      
	  right:0%;
	  
}
.carousel-control-prev{
	
	  left:55%;
}
.carousel-indicators
{
	left:65%;
}